<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <!--全局性设置懒加载。如果设为‘false’，则所有相关联的都会被初始化加载;默认false-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--当设置为‘true’的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。默认true-->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!--<setting name="logImpl" value="LOG4J2"/>-->
    </settings>

    <!--指实体类指定简单类名（别名）-->
    <typeAliases>
        <package name="com.springmvc.model"/>
    </typeAliases>

<!--    &lt;!&ndash;mapping文件路径配置&ndash;&gt;
    <mappers>
        <package name="com.springmvc.dao"></package>
    </mappers>-->
</configuration>